<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Movie Data</title>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7
/css/bootstrap.min.css" integrity="sha384-
BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
 <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesh
eet">
 </head>
<body>
<div class="container" align="center">
<div class="jumbotron">
       <h1>DJango Movies...</h1>
       <p> up to date movies information </p>
      <a class="btn btn-primary btn-lg" href="/add_movie" role="button">Add                       Movie</a>
      <a class="btn btn-primary btn-lg" href="/list_movie" role="button">List Movies</a>
      </div>
</div>
</body>
</html>
